.row
  .span12
    = render :partial => "users/header", :as => :user, :object => @user

.row
  .span8
    .users-favorites
      %h3
        %i.icon-star
        お気に入りエフェクト
      = render :partial => "effects/board", :as => :effect, :collection => @favorites.map(&:effect)
      = paginate @favorites

  .span4
    = render :partial => "users/contributions", :as => :user, :object => @user, :locals => { :contributions => @contributions }
