.user-timeline
  .row
    .span12
      = render :partial => "users/header", :as => :user, :object => @user

  .row
    .span8
      - if @effects.empty?
        .alert.alert-info
          登録されているエフェクトは、まだありません。
      - else
        - @effects.each do |effect|
          = render :partial => "effects/date_oriented", :as => :effect, :object => effect

    .span4
      = render :partial => "users/contributions", :as => :user, :object => @user, :locals => { :contributions => @contributions }
