.row-fluid
  .span12
    .hero-unit
      %h2
        高専カンファレンスエフェクト

.row-fluid
  .span4
    .event
      001tokyo
  .span4
    .event
      002hokkaido
  .span4
    .event
      003tokyo

.row-fluid
  .span4
    .event
      004fukui
  .span4
    .event
      006tokyo
  .span4
    .event
      005kyushu

.row-fluid
  .span4
    .event
      008tohoku
  .span4
    .event
      009tokyo
  .span4
    .event
      011nagano

.row-fluid
  .span4
    .event
      012hachinohe
  .span4
    .event
      013salesio
  .span4
    .event
      010hokkaido

.row-fluid
  .span4
    .event
      015nara
  .span4
    .event
      017ishikawa
  .span4
    .event
      018joshi-tokyo

.row-fluid
  .span4
    .event
      016oita
  .span4
    .event
      014tokyo
  .span4
    .event
      019kyoto

.row-fluid
  .span4
    .event
      021numazu
  .span4
    .event
      022kobe
  .span4
    .event
      025spa

.row-fluid
  .span4
    .event
      023shikoku
  .span4
    .event
      024north-tohoku
  .span4
    .event
      020salesio

.row-fluid
  .span4
    .event
      027hokurikurb
  .span4
    .event
      028mie
  .span4
    .event
      033careers

.row-fluid
  .span4
    .event
      030joshi-tokyo
  .span4
    .event
      034nagano
  .span4
    .event
      026osaka

.row-fluid
  .span4
    .event
      037matsue
  .span4
    .event
      039oyama
  .span4
    .event
      031sciences

.row-fluid
  .span4
    .event
      036sendai
  .span4
    .event
      032ibaraki
  .span4
    .event
      035nagaoka

.row-fluid
  .span4
    .event
      040joshi-ishikawa
  .span4
    .event
      041rbcn
  .span4
    .event
      044maizuru

.row-fluid
  .span4
    .event
      038tokyo
  .span4
    .event
      043gifu
  .span4
    .event
      047tokyo

.row
  .span9
    :plain
      <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fkosenconf&amp;width=870&amp;height=485&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=371618846211228" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:870px; height:485px;" allowTransparency="true"></iframe>
  .span3
    :plain
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: 'kosenconf',
        interval: 30000,
        title: 'Kosen Conference',
        subject: '高専カンファレンス',
        width: 270,
        height: 390,
        theme: {
          shell: {
            background: '#000000',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();
      </script>
