.effect-introduction.alert.alert-info
  %h4
    %i.icon-question-sign
    エフェクトって？
  高専カンファレンスに関する出来事で、
  %strong
    受けた影響
  や
  %strong
    強く感じたこと
  を「高専カンファレンスエフェクト」として集めています。
  発表資料や発表動画など、あなたが受けた影響につながりの強いページを添えて
  %strong
    あなたと高専カンファレンスの間にあるもの
  を、どんどん登録して共有してください！

