.row
  .span8
    %h3
      %i.icon-tags
      このエフェクトのタグを編集する
    %p
      登録ユーザであれば誰でもタグを編集できます。
    = render :partial => "effects/board", :as => :effect, :object => @effect, :locals => { :mode => "without-tags" }

  .span4
    %h3
      %i.icon-tag
      タグを追加/削除する
    = render :partial => "taggings/add", :as => :tagging, :object => Tagging.new(:effect_id => @effect.id)
    .tags
      - @effect.tags.order("category DESC, name").each do |tag|
        = render :partial => "taggings/remove", :as => :tagging, :object => tag.taggings.where(:effect_id => @effect.id).first
