.row
  .span8
    %h3
      %i.icon-fire
      = @title
    = render :partial => "effects/board", :as => :effect, :collection => @effects
    = paginate @effects

  .span4
    %h3
      %i.icon-tags
      エフェクトに付けられたタグ
    = render :partial => "tags/list", :as => :tag, :collection => @tags

