- if tag.category == "event"
  %span.label.label-success
    %i.icon-tag
    = link_to tag.name, url_for(Event.find_by_label(tag.name))
- else
  %span.label
    %i.icon-tag
    = link_to tag.name, tag
