@import "kceffect.css.scss";
@import "_speech-bubble.scss";

.preview {
  position: relative;

  .thumb {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text {
    margin-left: 110px;

    .domain {
      color: #ccc;
    }

    .description {
      font-size: 90%;
      line-height: 1.2em;
      padding: 3px 0;
    }
  }
}

.no-thumbnail {
  .text {
    margin-left: 0;
  }
}

.effect-date-oriented {
  margin-bottom: 30px;
  position: relative;

  &:hover {
    .main {
      .control {
        display: block;
      }
    }
  }

  .date {
    .label {
      font-size: 130%;
      padding: 0 10px;
      background-color: transparentize(#faa732, 0.25);
      @include border-radius(0);
      @include border-radius-top(5px);
    }
  }

  .main {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 3px 2px #999;
    position: relative;

    .control {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;

      a {
        text-decoration: none;

        i {
          padding-left: 5px;
          font-size: 120%;
        }
      }
    }

    .body {
      .tags {
        padding: 10px 10px 5px;

        .label {
          font-size: 12px;
          margin-right: 5px;

          a {
            color: #fff;
          }
        }
      }

      .comment {
        padding: 5px 10px;
      }

      .link {
        padding: 0 10px 10px;
      }

      .popover-box {
        position: relative;

        .popover {
          @include bordered-speech-bubble(#fff, #ccc, 3px);
          margin: 0 10px;
          padding: 10px 10px 5px;
          box-shadow: 0 0 3px #999;
          position: absolute;
          z-index: 1;
          display: none;

          .widgets {
            padding-top: 5px;

            * {
              vertical-align: middle;
            }

            .hatena-star {
              padding-bottom: 3px;
            }
          }
        }
      }
    }

    .foot {
      min-height: 28px;
      background-color: #f4f4f4;
      padding: 10px 10px 5px;
      border-top: 1px solid #ccc;
      position: relative;

      .icons {
        margin-right: 24px;
      }

      .link-to-favorite, .link-to-unfavorite {
        position: absolute;
        right: 10px;
        top: 13px;
      }
    }
  }
}



.effect-board {
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #999;
  box-shadow: 0 0 3px #999;

  &:hover {
    .head {
      .control {
        display: block;
      }
    }
  }

  .head {
    padding: 10px 10px 5px;
    border-bottom: 1px solid #ccc;
    position: relative;

    .control {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;

      a {
        text-decoration: none;

        i {
          padding-left: 5px;
          font-size: 120%;
        }
      }
    }

    .tags {
      padding-top: 5px;

      .date {
        background-color: transparentize(#faa732, 0.25);
        font-size: 13px;
        margin-right: 8px;
      }

      .label, .date {
        font-size: 12px;
        margin-right: 5px;

        a {
          color: #fff;
        }
      }
    }
  }

  .body {
    padding: 10px;

    .comment {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #ccc;
    }

    .url {
      display: none;
    }
  }

  .social-widgets {
    padding: 0 10px 5px;

    * {
      vertical-align: middle;
    }

    .hatena-star {
      padding-bottom: 3px;
    }
  }

  .foot {
    min-height: 28px;
    background-color: #f4f4f4;
    padding: 10px 10px 5px;
    border-top: 1px solid #ccc;
    position: relative;

    .icons {
      margin-right: 24px;
    }

    .link-to-favorite, .link-to-unfavorite {
      position: absolute;
      right: 10px;
      top: 13px;
    }
  }
}

.effect-form {
  .tag-selector {
    font-size: 90%;
    margin: 5px 0;
    padding: 3px;
    cursor: pointer;
    border: 1px solid transparent;
  }

  .tag-selector:hover {
    background-color: #fff;
    border: 1px solid #ccc;
  }

  .tweet-check {
    display: inline;
    padding-left: 20px;

    label {
      display: inline;

      * {
        vertical-align: middle;
      }
    }
  }
}

.side {
  ul.nav.nav-list {
    img {
      float: left;
      margin-right: 4px;
    }
  }
}
