.effect-board {
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #999;
  box-shadow: 0 0 3px #999;

  .head {
    padding: 10px 10px 5px;
    border-bottom: 1px solid #ccc;
    position: relative;

    .date {
      position: absolute;
      top: 18px;
      right: 10px;

      .badge {
        font-size: 12px;
      }
    }

    .tags {
      padding-top: 5px;

      .label {
        font-size: 12px;
        margin-right: 5px;

        a {
          color: #fff;
        }
      }
    }
  }

  .body {
    padding: 10px;

    .comment {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #ccc;
    }

    .url {
      display: none;
    }
  }

  .social-widgets {
    padding: 0 10px 5px;

    * {
      vertical-align: middle;
    }

    .hatena-star {
      padding-bottom: 3px;
    }
  }

  .foot {
    min-height: 28px;
    background-color: #f4f4f4;
    padding: 10px 10px 5px;
    border-top: 1px solid #ccc;
    position: relative;

    .icons {
      margin-right: 24px;

      img {
      }
    }

    .link-to-favorite, .link-to-unfavorite {
      position: absolute;
      right: 10px;
      top: 13px;
    }
  }
}

.preview {
  position: relative;

  .thumb {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text {
    margin-left: 110px;

    .domain {
      color: #ccc;
    }

    .description {
      font-size: 90%;
      line-height: 1.2em;
      padding: 3px 0;
    }
  }
}

.no-thumbnail {
  .text {
    margin-left: 0;
  }
}

.effect-form {
  .tag-list {
    padding: 5px;
    border: 1px solid #ccc;
  }

  .tag-selector {
    font-size: 90%;
    margin: 5px 0;
    padding: 3px;
    cursor: pointer;
  }

  .tag-selector:hover {
    color: #fff;
    background-color: #999;
  }
}
