.event-banner-box {
  .event-banner {
    margin-right: 16px;
  }

  .right-side {
    margin-right: 0;
  }
}

.event-banner {
  width: 460px;
  margin-bottom: 16px;
  border: 1px solid #999;
  box-shadow: 0 0 3px #999;
  float: left;
  position: relative;

  h3 {
    font-size: 120%;
    position: absolute;
    top: 8px;
    left: 0;

    a {
      color: #fff;
      background-color: #000;
      text-decoration: none;
      padding: 5px 10px;
      opacity: 0.5;
    }
  }

  .cover {
  }

  .event-info {
    padding: 5px 10px;
  }
}

.event-banner:hover {
  h3 {
    a {
      opacity: 1.0;
    }
  }
}

.event-header {
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0 0 3px #999;

  .cover {
    margin-top: -30px;
  }

  .event-info {
    padding: 10px;
    border: 1px solid #999;

    h2 {
      text-shadow: 0px 2px 3px #999;
    }

    table {
      tbody {
        tr {
          td {
            padding: 2px 5px;
          }

          td.icon {
            text-align: center;
            font-size: 150%;
          }
        }
      }
    }
  }
}
