.events-index {
  .stats {
    font-size: 110%;
    text-align: right;
  }

  .stats, .events-in-year {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}

.event-banner-box {
  .event-banner {
    margin-right: 16px;
  }

  .right-side {
    margin-right: 0;
  }
}

.event-banner {
  width: 460px;
  margin-bottom: 16px;
  border: 1px solid #999;
  box-shadow: 0 0 3px #999;
  float: left;
  position: relative;

  h3 {
    font-size: 120%;
    position: absolute;
    top: 8px;
    left: 0;

    a {
      color: #fff;
      background-color: #000;
      text-decoration: none;
      padding: 5px 10px;
      opacity: 0.5;
    }
  }

  .event-info {
    padding: 5px 10px;
    position: relative;

    .effect-count {
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
}

.event-banner:hover {
  h3 {
    a {
      opacity: 1.0;
    }
  }
}

.event-header {
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 3px #999;

  .cover {
    margin-top: -30px;
    position: relative;

    .cover-info {
      position: absolute;
      bottom: 3px;
      right: 0;

      a, span {
        color: #fff;
        background-color: #000;
        padding: 3px 10px;
        text-decoration: none;
        opacity: 0.5;
      }

      a:hover, span:hover {
        opacity: 1;
      }
    }
  }

  .event-info {
    padding: 10px 20px;
    border: 1px solid #999;
    position: relative;

    h2 {
      text-shadow: 0px 2px 3px #999;
    }

    table {
      tbody {
        tr {
          td {
            padding: 2px 5px;
          }

          td.icon {
            text-align: center;
            font-size: 150%;
          }
        }
      }
    }

    .control {
      position: absolute;
      top: 20px;
      right: 10px;
    }

    .btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

.event-navigator {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ccc;

  .navigator-right {
    text-align: right;
  }
}
