@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

#control {
  padding: 10px 0;
  text-align: right;
  height: 24px;
}

header {
  background-color: #000;
  margin-bottom: 30px;
  padding: 20px 0;

  h1, h2 {
    color: #fff;
    text-shadow: 0 0 1px #fff;
    text-align: center;
    line-height: 1em;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 50px;
  }
}

footer {
  background-color: #000;
  margin-top: 30px;
  padding: 20px 0 10px;
  border-top: 1px solid #ccc;

  p {
    color: #999;
    font-size: 110%;
    text-align: center;
  }
}

.alert {
  ul {
    margin: 0 20px;
  }
}

.field_with_errors {
  input {
    box-shadow: 0 0 3px rgba(255, 0, 0, 0.6);
  }
}

#message {
  background-color: #eee;
  margin-bottom: 30px;
  padding: 20px 0 5px;
  @include border-radius(10px);

  .block {
    margin-bottom: 25px;

    h3 {
      color: #fff;
      background-color: #000;
      margin-bottom: 15px;
      padding: 3px 30px;
    }

    p {
      margin: 0;
      padding: 5px 30px;
      text-indent: 1em;
    }

    p.credit {
      text-align: right;
    }

    img.photo {
      padding: 10px 20px 0;
    }

    .members {
      margin: 5px 30px;

      span.member {
        margin-right: 30px;

        * {
          vertical-align: middle;
        }
      }
    }

    .joinus {
      margin: 15px 30px 5px;
    }

    ul {
      margin: 0 50px;
    }
  }
}
