.user-header {
  margin-bottom: 30px;
  position: relative;

  .icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .main {
    margin-left: 60px;
  }
}

.users-effects, .users-favorites {
  margin-bottom: 30px;
}

.user-cube {
  img {
    margin: 0 3px 5px 0;
  }
}
