.timeline {
  margin-top: -28px;
  padding-top: 28px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  background-image: #{image_url("line.png")};
  background-repeat: repeat-y;
  background-position: 20px 0;
}

.user-header {
  margin-bottom: 30px;
  position: relative;

  .icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .main {
    margin-left: 60px;

    h2 {
      a {
        color: #000;
      }
    }
  }
}

.user-cube {
  img {
    margin: 0 3px 5px 0;
  }
}
