- tag = tagging.tag

= link_to tagging, :method => :delete, :remote => true, :class => "link-to-delete-tagging", :confirm => "タグ「#{tag.name}」を削除しますか？" do
  %i.icon-remove-sign
  = tag.name
  %span.caption
    を削除する
