!!! 5
%html
  %head
    %title 高専カンファレンスエフェクト
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => root_path }
            高専カンファレンスエフェクト

    #main
      .container
        = yield
